{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
      <title>Parent</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
</head>
<body>
  {% block body_block %}
    <center>
        <h1>This is parent</h1>
    </center>

    <a href="{% url 'child:child' %}">click here to see child</a>
  {% endblock %}


    <script src="{% static 'js/mdb.min.js' %}"></script>
</body>
</html>